# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
*.out

# Unit test / coverage reports
.cache
.pytest_cache/

# pyenv
.python-version
.eggs
.venv
venv
activate

# mypy
.mypy_cache/

# Editors
.vscode
.idea
.history